<header> 
<h1> My Dashboard </h1>
</header>
<div class="alert alert-info" role="alert">
<h1> We currently sell <%=@product_count%> products in <%=@category_count%> categories!</h1>
</div>
<a href="/admin/products" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"> Add products </a>



