<h1> About us </h1>

<h3> Welcome to Jungle! We've got fun and games and all sorts more! </h3>
<br>
<article>
<img src="https://avatars.githubusercontent.com/u/4223" alt="Rails">
<p> Out of the gate and onto the tracks! This website is built with Ruby on Rails.</p>
<article>